@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-primary: #ffffff;
  --color-primary1: #363738;
  --color-secondary: #f5f5f5;
  --color-secondary1: #fefaf1;
  --color-secondary2: #db4444;
  --color-bg: #ffffff;
  --color-bg2: #d9d9d9;
  --color-text: #fafafa;
  --color-text1: #7d8184;
  --color-text2: #000000;
  --color-button: #000000;
  --color-button1: #00ff66;
  --color-button2: #db4444;
  --color-hoverbutton1: #e07575;
  --color-hoverbutton2: #a0bce0;

  background-color: var(--color-bg);
}

.ActiveHeroSliderBullet {
  background-color: var(--color-button2) !important;
  border: 3px solid white;
  width: 1rem;
  height: 1rem;
}

.HeroSliderBullet {
  background-color: rgb(255, 255, 255, 0.5);
  opacity: 1;
  width: 1rem;
  height: 1rem;
}

.TeamMemberSliderBullet {
  opacity: 0.3;
  width: 1rem;
  height: 1rem;
}

.ActiveTeamMemberSliderBullet {
  background-color: var(--color-bg) !important;
  border: 3px solid rgba(0, 0, 0, 0.3);
  z-index: 1;
  width: 1.2rem;
  height: 1.2rem;
  opacity: 1;
  position: relative;
}

.ActiveTeamMemberSliderBullet::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 0.7rem;
  height: 0.7rem;
  background-color: var(--color-button2) !important;
  opacity: 1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.team_member .swiper-pagination {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 2rem;
  align-items: center;
}
